---
kind: Secret
apiVersion: v1
metadata:
  name: external-secrets-approle
  namespace: openshift-gitops
stringData:
  role_id: {{ git_ext_secrets_role_id }}
  secret_id: {{ git_ext_secrets_secret_id }}
type: Opaque
