---
kind: Secret
apiVersion: v1
metadata:
  name: repo-{{ item.value.name }}
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repo-creds
data:
  url: {{ item.value.url | b64encode }}
  username: {{ item.value.username | b64encode }}
  password: {{ item.value.password | b64encode }}
  type: {{ item.value.type | b64encode }}
  enableOCI: {{ item.value.enableOCI | b64encode }}
type: Opaque
