---
- name: Manage gitops operator
  vars:
    ocp_manage_operator_name: "{{ gitops_operator_name }}"
    ocp_manage_operator_namespace: openshift-gitops-operator
    ocp_manage_operator_channel: "{{ gitops_operator_channel }}"
    ocp_manage_operator_source: "{{ gitops_operator_source }}"
    ocp_manage_operator_source_namespace: openshift-marketplace
    ocp_manage_operator_deployment_name: openshift-gitops-operator-controller-manager
    ocp_manage_operator_create_namespace: true
    ocp_manage_operator_starting_csv: "{{ gitops_operator_starting_csv }}"
    ocp_manage_operator_approve: "{{ gitops_operator_approve }}"
    ocp_manage_operator_subscription_extras: "{{ gitops_operator_subscription_extras }}"
  ansible.builtin.include_role:
    name: ocp_manage_operator

- name: Add cluster-admin role to serviceaccount openshift-gitops-argocd-application-controller
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: rbac.authorization.k8s.io/v1
      kind: ClusterRoleBinding
      metadata:
        name: cluster-admin-openshift-gitops-argocd-application-controller
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: ClusterRole
        name: cluster-admin
      subjects:
        - kind: ServiceAccount
          name: openshift-gitops-argocd-application-controller
          namespace: openshift-gitops

- name: Fetch repo passwords from Vault
  ansible.builtin.set_fact:
    "git_repo_templates": >-
      {{
        git_repo_templates | combine({
          item.key: item.value | combine({
            'password': lookup('community.hashi_vault.hashi_vault', item.value.vault_lookup)
          })
        })
      }}
  loop: "{{ git_repo_templates | dict2items }}"
  when:
    - git_vault_enabled
    - item.value.vault_lookup is defined
  no_log: true

- name: Create repo secret templates for first deployment
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'secrets-repo-credentials-template.yml.j2') | from_yaml_all }}"
  with_dict: "{{ git_repo_templates }}"
  no_log: true

- name: Create argocd app of apps
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'application-00-app-of-apps.yml.j2') | from_yaml_all }}"
    state: present
  when: gitops_operator_state != 'absent'

- name: Set argocd to defined state
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'argocd-openshift-gitops.yml.j2') | from_yaml_all }}"
    state: "{{ gitops_operator_state }}"
    wait: true
    wait_timeout: 120
  when: gitops_operator_state != 'absent'

- name: Init vault lookup strings
  ansible.builtin.set_fact:
    git_ext_role_id_lookup: |
      secret={{ git_external_secrets_path }}:role_id
      url={{ g_vault_addr }}
      auth_method={{ ins_hashi_vault_auth_method }}
      validate_certs={{ ins_hashi_vault_validate_certs | string }}
      role_id={{ g_vault_approle | default('') }}
      secret_id={{ g_vault_secretid | default('') }}
    git_ext_secret_id_lookup: |
      secret={{ git_external_secrets_path }}:secret_id
      url={{ g_vault_addr }}
      auth_method={{ ins_hashi_vault_auth_method }}
      validate_certs={{ ins_hashi_vault_validate_certs | string }}
      role_id={{ g_vault_approle | default('') }}
      secret_id={{ g_vault_secretid | default('') }}
  when: git_vault_enabled

- name: Get approle secrets from vault
  ansible.builtin.set_fact:
    git_ext_secrets_role_id: "{{ lookup('community.hashi_vault.hashi_vault', git_ext_role_id_lookup) }}"
    git_ext_secrets_secret_id: "{{ lookup('community.hashi_vault.hashi_vault', git_ext_secret_id_lookup) }}"
  ignore_errors: true
  register: get_secrets
  when: git_vault_enabled

- name: Create approle secret for external secrets
  kubernetes.core.k8s:
    definition: "{{ lookup('template', 'external-secrets-approle-secret.yml.j2') | from_yaml_all }}"
  when:
    - git_ext_secrets_role_id is defined and git_ext_secrets_role_id | length > 0
    - git_ext_secrets_secret_id is defined and git_ext_secrets_secret_id | length > 0
    - git_vault_enabled
